@page
@model VolleyData.Pages.Partidas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Partida[0].Campeonato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partida[0].EquipeCasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partida[0].EquipeVisitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partida[0].SetsVencidosEquipeCasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partida[0].SetsVencidosEquipeVisitante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Partida) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Campeonato.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipeCasa.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipeVisitante.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetsVencidosEquipeCasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetsVencidosEquipeVisitante)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
